* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav {
    display: flex;
    align-items: center; 
    background-color: #793FDF;
}

.logo {
    width: 100px;
    height: 50px;
    margin-right: 20px; 
}

.logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: 30%;
}

li {
    margin: 0 10px; 
}


li a {
    position: relative;
    text-decoration: none;
    color: white; 
    padding-bottom: 5px;
}

li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

li a:hover::after {
    width: 100%;
}


#Active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

/* Main section */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    height: 450px;
    position: relative;
    gap:20px;
    margin-left: 20px;
}


.info-feed {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vh;
    top:20%;
    gap: 20px;
}

.news-feed {
    display: block;
    position: relative;
    justify-content: center;
    top:20%;
    width: 40vh;
}


.info1 {
    background-color: #8287C1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 250px;
    width: 140vh;
    border-radius: 10px;
}

.info-img1 {
    background: url("img1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 325px;
    margin: 10px;
}


.info-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 200px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
}

.img2 {
    background: url("img2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 325px;
    margin: 10px;
}

.img2-text {
    padding: 10px;
    height: 200px;
    width: 225px;
    font-size: 14px;
}

.img2-text p {
    margin-bottom: 20px;
    font-size: 14px;
}

.img2-text a {
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #793FDF;
    color: white;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.img2-text a:hover {
    cursor: pointer;
    background-color: black;
}

.info2 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 250px;
    width: 140vh;
    border-radius: 10px;
    border: 1px solid;
}


.info-img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
}

.img3-text {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 60%;
    padding: 10px;
}



.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 520px;
    width: 40vh;
    left: 100%;
    border: 1px solid;
    border-radius: 10px;
}


.head-news {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 200px;
    width: 100%;
    background-color: #793FDF;
    border-radius: 10px 10px 60px 60px;
    margin: 0;
}

.news-img {
    position: relative;
    height: 225px;
    width: 225px;
    border-radius: 5px;
    bottom: 10%;
    background: url("hire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.text-news {
    position: relative;
    bottom: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 225px;
}

.text-news a {
    text-align: center;
    padding: 10px;
    color: white;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    width: 225px;
    transition: .2s ease-in-out;
}

.text-news a:hover {
    background-color: #793FDF;
}

